/* #1792d2
   #04122b
   #f8f8f8
   #707070 
   rgba(129, 9, 63, 0.95);*/


   /* Styles for the Navbar */
  .navbar {
      background-color: #720838fa;
      display: flex;
      height: 70px;

  }
  .navbar-button {
      color: #f8f8f8;
      font-size: 1.9rem;
      padding-left: .5em;
      margin: .6em;
    
  }
  .nav-menu {
    background-color: #720838fa;
    width: 330px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%; 
    transition: .8s linear;
    display: flex;
    flex-direction: column;
    z-index: 3000;
  }
  .nav-menu.active {
    left: 0;
    transition: .5s;
  }
  .menu-nav {
      padding-left: .5em;
      margin: .9em;
  }
  .menu-ul {
     list-style: none;
  }

 .menu-list a {
    text-decoration: none;
    color: #f8f8f8;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: .6em;
    margin-top: .75em;
    font-size: 1.4rem;
 }
 .menu-list a:hover {
  background-color: #eeeaea;
  border-radius: 3px;
  color: #333;
 }
 .menu-icon {
   margin-right: 1em;
 }

 /* Styles for the home page */

 .title {
  position: absolute;
  top: 15%;
  left: 23%;
  transform: (-50%, -50%);
  color: #333;
  text-shadow: 2px 2px 3px rgb(92, 11, 49);
  font-size: 3em;
  font-weight: bolder;
}

.img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 91.1vh;
  background-color: #eeeaea;
  /* background-image: url("https://images.pexels.com/photos/7640901/pexels-photo-7640901.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); */
}

.images { 
  height: 450px;
  display: flex;
  flex: 50%;
}

.bg-image {
  width: 95%;
  height: 100%;
  animation: move 4s infinite reverse;
  transition: all .5s;
}

@keyframes move {
  0% { transform: translate(0);}
  35% { transform: translate(-300px);}
  70% {transform: translate(-600px);}
  100% {transform: translate(-900px);}
}